<div class="page-header">
  <h1>My Recipes</h1>
</div>

<% @recipes.each do |recipe| %>
<div class="row">
  <div class="col-md-12">
    <h3><a href="/recipes/show"><%= recipe %></a></h3>
    <!-- How do I add a query string to link to the specific recipe? -->
  </div>
</div>
<% end %>

