  <body>
    <img alt="full screen background image" src="http://bit.ly/1ouXxa5" id="full-screen-background-image" />

<div class="page-header">
  <h1>Add a New Recipe</h1>
</div>


<!-- Add image of a recipe card -->

<form action="/recipes/create">
  <div class="form-group">
    <label>Recipe Name:</label>
    <input name="name" type="text" class="form-control input-md" placeholder="Example: Chocolate Chip Cookies">
  </div>
  <button type="submit" class="btn btn-success btn-md">Submit</button>
  or
  <a href="/recipes">Cancel</a>
</form>
