<div class="page-header">
  <h1>Split Pea Soup</h1>
</div>

<div class="list">
    <ls>
    <li>2 bags split peas </li>
    <li>3 carrots </li>
    <li>1 yellow onion </li>
    <li>2 stalks celery</li>
    <li>6-8 Cups chicken broth</li>
    <li>Worcestershire sauce</li>
    <li>Salt & pepper </li>
    <li>Beau monde</li>
    <li> Ham </li>
    </ls>
</div>

<div class= "row">
<p class= "lead"><strong> Directions:</strong></p>
<p> Dice vegetables and place all ingredients in crock pot. Simmer 6-8 hours.</p>
</div>




