  <body>
    <img alt="full screen background image" src="http://bit.ly/1hQL8fO" id="full-screen-background-image" />



<div class="jumbotron">
      <div class="container">
        <h1>Fridgentory</h1>
        <h2 class="text-muted">Simplify your Fridge. Simplify your Life.</h2>
        <p><a href="/users/new" class="btn btn-primary btn-lg" role="button">Sign Up Today</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Recipes</h2>
          <p>Save your favorite recipes, and share recipes with friends. </p>
          <img class="featurette-image img-responsive" width="250" src="http://bit.ly/1q80Ho4">
          <p><a class="btn btn-default" href="/recipes/index" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Groceries</h2>
          <p>Generate grocery lists from your favorite recipes.  Never forget an ingredient again. </p>
          <p><a class="btn btn-default" href="/grocery/mylist" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Inventory</h2>
          <p>Keep track of your pantry between shopping trips.</p>
          <p><a class="btn btn-default" href="/grocery/myfridge" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Fridgentory, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
